@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@mixin full-page() {
  height: 100%;
  width: 100%;
}

@mixin flex-center($jc: center) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

@mixin orbitron-font($fw: 400) {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: $fw;
  font-style: normal;
}
