@use "abstract/variables";
@use "abstract/mixins";

// Base
@use "base/reset";

// Components
@use "./components/scrollable";
@use "./components/nav";

body {
  width: 100dvw;
  height: 100%;
  background-color: #fe11c4;
  overflow: auto;
  @include mixins.orbitron-font();
  @include mixins.full-page();
  color: variables.$white;
}
